<div class="container">
  <h1>fitbitch</h1>

    <div class="messages">
      <% @messages.each do |message| %>
        <div class="message">
            <p class="content"><%= message.content.message %></p>
            <p class="timestamp"><%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %I:%M%p") %></p>
        </div>
      <% end %>
    </div>
</div>
